[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/fanqi203/ccpp-framework.git
	branch = bao_sa
[submodule "ccpp/physics"]
	path = ccpp/ccpp/physics
	url = https://github.com/fanqi203/ccpp-physics.git
	branch = bao_sa
